@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --hue: 270;
  /*hsl mode*/
  --base-color: hsl(var(--hue) 96% 40%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 18%);
  --text-color: hsl(0 0% 21%);
  --text-color-light: hsl(0 8% 98%);
  --header-color: hsl(0 8% 98%);
  --body-color: hsl(240, 50%, 1%);
  --bg-color: hsl(240, 16%, 9%);
  --border: 0.1rem solid hsl(var(--hue) 100% 100%);
  --scroll-color: hsl(280, 100%, 90%);
  --scroll-color-alt: hsl(281, 100%, 95%);
  --border-blur: 1px solid rgba(255, 255, 255, 0.18);
  /*Fontes*/
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  /*sombra*/
  --shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.37);
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  font-size: 1rem;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--base-color);
  border-radius: 5rem;
}
body {
  background: var(--body-color);
}
section {
  padding: 2rem 7%;
}
.divider-1 {
  height: 1px;
  background: linear-gradient(270deg, rgb(51, 51, 51), rgb(89, 89, 89));
}
.divider-2 {
  height: 1px;
  background: linear-gradient(270deg, rgb(89, 89, 89), rgb(51, 51, 51));
}
/*------------------btn----------------------------------------------*/

.btn {
  display: inline-flex;
  height: 3rem;
  color: white;
  background: var(--base-color);
  padding: 0 2rem;
  border-radius: 0.25rem;
  align-items: center;
  font-size: 1.2rem;
}
.btn:hover {
  background: var(--base-color-alt);
  font-size: 1.25rem;
}

/*------------------heading----------------------------------------------*/
.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}
.heading span {
  color: var(--base-color-alt);
  text-transform: uppercase;
}
/*------------------header----------------------------------------------*/
.header {
  background: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: 0.5s;
}
.header.scroll {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: 1.25s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: var(--border-blur);
  box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.37);
}

.header .logo {
  font-size: var(--title-font-size);
  color: var(--title-color);
}
.header.scroll .logo {
  font-size: var(--title-font-size);
  color: var(--text-color-light);
}
.header .logo span {
  color: var(--base-color);
}
.header.scroll .logo span {
  font-size: var(--title-font-size);
  color: var(--scroll-color);
}
.header .navbar a {
  margin: 0 1rem;
  font-size: var(--subtitle-font-size);
  color: var(--text-color);
}
.header.scroll .navbar a {
  color: var(--text-color-light);
}

.header .navbar a:hover {
  color: var(--base-color);
  border-bottom: 2px solid var(--base-color);
  padding-bottom: 0.5rem;
}
.header.scroll .navbar a:hover {
  color: var(--scroll-color);
  border-bottom: 2px solid var(--scroll-color);
}
.header .icons div {
  color: var(--base-color-alt);
  cursor: pointer;
  font-size: 1.625rem;
  margin-left: 2rem;
}
.header.scroll .icons div {
  color: var(--scroll-color);
}

.header .icons div:hover {
  color: var(--base-color);
}
.header.scroll .icons div:hover {
  color: var(--scroll-color-alt);
}
#menu-btn {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: var(--header-color);
  width: 35rem;
  height: 3rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  border-radius: 2rem;
}
.header .search-form.active {
  transform: scaleY(1);
}
.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.625rem;
  color: var(--text-color);
  padding: 1rem;
  text-transform: none;
  border-radius: 2rem;
}
.header .search-form label {
  cursor: pointer;
  font-size: 1.625rem;
  margin-right: 1rem;
  color: var(--text-color);
}
.header .search-form label:hover {
  color: var(--base-color);
}
.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: var(--header-color);
  padding: 0 1.5rem;
}
.header .cart-items-container.active {
  right: 0;
}
.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header .cart-items-container .cart-item img {
  max-width: 10%;
  max-height: 10%;
}
.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--title-color);
}
.header .cart-items-container .cart-item .fa-times:hover {
  color: var(--base-color-alt);
}
.header .cart-items-container .cart-item .content h3 {
  font-size: 1.2rem;
  color: var(--title-color);
  padding-bottom: 0.5rem;
}
.header .cart-items-container .cart-item .content .preco {
  font-size: 1rem;
  color: var(--base-color);
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
  justify-content: center;
}
/*------------------inicio----------------------------------------------*/
.home {
  display: flex;
  min-height: 100vh;
  align-items: center;
  background: url(../images/background-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.home .content {
  max-width: 60rem;
}
.home .content h3 {
  font-size: 5rem;
  text-transform: uppercase;
  color: #fff;
}
.home .content p {
  font-size: 1.25rem;
  font-weight: lighter;
  line-height: 1.8rem;
  padding: 1rem 0;
  color: #eee;
}
/*------------------sobre----------------------------------------------*/
.about .row {
  display: flex;
  align-items: center;
  background: var(--bg-color);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}
.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}
.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
}
.about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8rem;
}
/*------------------ofertas----------------------------------------------*/
.offers .box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.offers .box-container .box {
  background: rgba(255, 255, 255, 0.1);
}
.offers .box-container .box {
  justify-content: center;
  padding: 1rem;
  text-align: center;
  border-left: var(--border-blur);
  border-bottom: var(--border-blur);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.offers .box-container .box {
  transition: 0.8s;
}
.offers .box-container .box:hover {
  background: #fef5da;
}
.offers .box-container .box .content .btn {
  justify-content: center;
  text-transform: uppercase;
}
.offers .box-container .box .content .image {
  height: 35rem;
}
.offers .box-container .box .content h3 {
  color: var(--text-color-light);
  font-size: 2rem;
  padding: 1rem 0;
}
.offers .box-container .box:hover .content h3 {
  color: var(--title-color);
}
.offers .box-container .box .content .preco {
  color: var(--text-color-light);
  font-size: 2.5rem;
  padding: 0.5rem 0;
}
.offers .box-container .box:hover .content .preco {
  color: var(--title-color);
}
.offers .box-container .box .content .preco span {
  color: var(--text-color-light);
  font-size: 1.5rem;
  text-decoration: line-through;
}
.offers .box-container .box:hover .content .preco span {
  color: #808080;
}
/*--------------------------------------------------------------produtos------------------*/
.products .box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.products .box {
  justify-content: center;
  text-align: center;
  border: var(--border-blur);
  padding: 2rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.products .box .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: var(--border);
  color: var(--text-color-light);
  margin: 0.3rem;
}
.products .box .icons a:hover {
  background: var(--base-color-alt);
}
.products .box .image {
  padding: 2rem 0;
}
.products .box .image img {
  padding: 1rem 0;
  width: 15rem;
  margin-bottom: -3rem;
}
.products .box .content h3 {
  color: var(--text-color-light);
  font-size: 2rem;
  padding: 1rem 0;
}
.products .box .content .stars {
  color: var(--text-color-light);
  padding: 1rem;
}
.products .box .content .stars i {
  color: gold;
  padding: 1rem;
  font-size: 1.5rem;
}
.products .box .content .preco {
  color: var(--text-color-light);
  font-size: 2.5rem;
}
/*------------------------------------------------------------------------------------review----------------------------*/
.review {
  background: var(--body-color);
}
.review .box-container {
  margin-left: 0;
  margin-right: 0;
  display: inline-flex;
}
.review .box-container .box {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
  justify-content: center;
  display: flex;
}
.review .box-container .box .stars {
  color: var(--text-color-light);
  padding: 1rem;
}
.review .box-container .box .stars i {
  color: gold;
  padding: 0.2rem;
  font-size: 1rem;
}

.review .box-container .box blockquote {
  justify-content: center;
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  background: var(--bg-color);
  max-width: 45rem;
}
.review blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--text-color-light);
}

.review blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.5rem;
  left: -1.875rem;
  color: var(--text-color-light);
}

.review cite {
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: bold;
  color: var(--text-color-light);
}
.review cite img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

.contact .row {
  display: flex;
  background: var(--bg-color);
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--text-color-light);
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--body-color);
  border: var(--border);
  border-radius: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.7rem;
  color: var(--text-color-light);
  text-transform: none;
  background: none;
}

.contact .row form .inputBox input:focus {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}

.contact .row form .inputBox span {
  color: var(--text-color-light);
  font-size: 2rem;
  padding-left: 2rem;
}
.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.blogs .box-container .box {
  border: var(--border);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.blogs .box-container .box .image {
  display: flex;
  height: 25rem;
  overflow: hidden;
  width: 100%;
}
.blogs .box-container .box .image img {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}
.blogs .box-container .box .image img:hover {
  transform: scale(1.1);
}
.blogs .box-container .box .content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.blogs .box-container .box .content .title {
  font-size: 2.5rem;
  line-height: 1.5;
  color: var(--text-color-light);
}
.blogs .box-container .box .content .title:hover {
  color: var(--base-color-second);
}
.blogs .box-container .box .content span {
  color: var(--base-color-second);
  display: block;
  padding-top: 1rem;
  font-size: 1rem;
}
.blogs .box-container .box .content p {
  color: var(--text-color-light);
  line-height: 1.8;
  font-size: 1.6rem;
  padding: 1rem 0;
}

.blogs .box-container .box .content .btn {
  justify-content: center;
  padding: 2rem 0;
  font-size: 1.625rem;
}

.footer {
  background: var(--body-color);
  text-align: center;
}
.footer .share {
  padding: 1rem 0;
}
.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--text-color-light);
  border: var(--border);
  border-radius: 50%;
  margin: 0.3rem;
}
.footer .share a:hover {
  background: var(--base-color-alt);
}
.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}
.footer .links a {
  padding: 0.7rem 1rem;
  color: var(--text-color-light);
  border-top: var(--border);
  border-bottom: var(--border);
}

.footer .links a:hover {
  background: var(--title-color);
}

.footer .credit {
  color: var(--text-color-light);
}
.footer .credit span {
  color: red;
}

/*----------------------------------------------------------------------------------------------------------------------responsividade-----------------------------------------*/
@media (max-width: 1280px) {
  html {
    font-size: 85%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  .header.scroll {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 2rem;
  }
  .about .row {
    display: flex;
    align-items: center;
    background: var(--bg-color);
    flex-wrap: wrap;
  }

  .about .row .image {
    flex: 1 1 45rem;
  }
  .about .row .image img {
    width: 100%;
  }
  .about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
  }
  .about .row .content h3 {
    font-size: 3rem;
    color: #fff;
  }
  .about .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8rem;
  }
  /* .offers .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }*/
  .products .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  .products .box {
    justify-content: center;
    text-align: center;
    border: var(--border-blur);
    padding: 2rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }
}
@media (max-width: 1024px) {
  .offers .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--header-color);
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }
  .header .navbar.active {
    right: 0;
  }
  .header .navbar.active a {
    color: var(--text-color);
  }
  .header .navbar a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .header .search-form {
    position: absolute;
    top: 115%;
    right: 0;
    background: var(--header-color);
    width: 90%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }
  .home .content h3 {
    font-size: 4.5rem;
  }
  .home .content p {
    font-size: 1.625rem;
  }
  .home .content .btn {
    display: inline-flex;
    height: 5rem;
    color: white;
    background: var(--base-color);
    padding: 0 2rem;
    border-radius: 0.25rem;
    align-items: center;
    font-size: 2rem;
  }
  .offers .box-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .offers .box-container .box {
    padding: 3rem;
    text-align: center;
    border-left: var(--border-blur);
    border-bottom: var(--border-blur);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  .offers .box-container .box {
    align-items: center;
  }
  .offers .box-container .box .image {
    height: 30rem;
  }
  .offers .box-container .box .btn {
    justify-content: center;
    width: 70%;
    height: 5rem;
    font-size: 1.5rem;
  }
  .products .box-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-items: center;
  }
  .products .box {
    justify-content: center;
    text-align: center;
    border: var(--border-blur);
    padding: 2rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }

  .products .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: var(--text-color-light);
    margin: 0.3rem;
  }
  .products .box .icons a:hover {
    background: var(--base-color-alt);
  }
  .products .box .image {
    padding: 2rem 0;
  }
  .products .box .image img {
    padding: 1rem 0;
    width: 15rem;
    margin-bottom: -3rem;
  }
  .products .box .content h3 {
    color: var(--text-color-light);
    font-size: 2rem;
    padding: 1rem 0;
  }
  .products .box .content .stars {
    color: var(--text-color-light);
    padding: 1rem;
  }
  .products .box .content .stars i {
    color: gold;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .products .box .content .preco {
    color: var(--text-color-light);
    font-size: 2.5rem;
  }
  .review .box-container {
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
  }
  .review .box-container .box blockquote {
    justify-content: center;
    padding: 2.5rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
    background: var(--bg-color);
    max-width: 45rem;
    margin: 0.5rem;
  }
  .review blockquote p {
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    color: var(--text-color-light);
    font-size: 1.5rem;
  }
}
@media (max-width: 280px) {
  html {
    font-size: 50%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  .header .search-form {
    position: absolute;
    top: 115%;
    right: 0;
    background: var(--header-color);
    width: 95%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
  }
}
